// metadata
export const version = "{{{version}}}"
export const title = "{{{title}}}"
export const description = "{{{description}}}"
export const cyfrinLink = "{{{cyfrinLink}}}"

export const keywords = [
{{#keywords}}
    "{{{.}}}",
{{/keywords}}
]

const html = `{{{html}}}`

export default html
