.component {
  /* NOTE -20px from .main in App.module.css */
  width: min(calc(100vw - var(--side-nav-width) - 40px), 1000px);
}
.content {
  margin: 15px 10px 15px 10px;
}
.prevNext {
  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
